body{
	background: url("../images/TV.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
* {
	box-sizing: border-box;
}
h1 {
    filter: blur(3px);
}
.gifDiv {
    float: inherit;
    margin: 3px;
    display: block;
    object-fit: cover;
}
div {
    display: block;
}
img { 
    height: 150px;
    width: 150px;
    vertical-align: middle;
    padding: 10px;
    background-color: black;
    /* -pie-background:  rgba(200, 54, 54, 1);
    behavior: url(PIE.htc) */

}
.button {
    margin: 3px;
    background-color: #999999;
    border-color: #fff;
}
.btn {
    margin: 3px;
    background-color: #999999;
    border-color: #fff;
}
#show {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#gifs-appear-here{
    float: right;
    margin: 3px;
    display: block;
    object-fit: cover;
}
.container-one {
	padding: 20px;
}
.container {
	background-color: RGBA(255,255,255,.8);
	padding: 20px;
}
.containertwo {
    background-color: lightgrey;
	padding: 20px;
}
.jumbotron {
    background-color: inherit;
}

.jumbotron h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
}
